NEXT_PUBLIC_SUPABASE_URL=https://uotntzitwozovptfuxoz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvdG50eml0d296b3ZwdGZ1eG96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyOTQ3NzIsImV4cCI6MjA4Njg3MDc3Mn0.OhLk8YSn2f9sFIrqKR6hgEdUl7lb94QIOdQOSWv3F8s
